.btn-primary,
.btn-secondary {
    border-radius: 50px;
    font-size: 1.8rem;
    line-height: 5rem;
    font-weight: 500;
    padding: 0 4rem ;
}

.btn-primary {
    background-color: $brand-700;
    font-weight: 500;
    color: $brand-black;
    transition: background-color 0.3s;
    color: $white;
    -webkit-box-shadow: #474747 0px 20px 30px -10px;
    box-shadow: #474747 0px 20px 30px -10px;

    &:hover {
        background-color: $white;
        color: $brand-700;
    }
}

.btn-secondary {
    background-color: transparent;
    color: $brand-900;
    transition: all 0.3s ease-in;
    padding: 1rem 2rem;
    border: 1px solid $brand-900;

    &:hover {
        background-color: $brand-700;
        color: $white;
    }
}

.btn-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $brand-800;
    font-size: 1.8rem;
    font-weight: 500;
    transition: all 0.3s ease-in;

    &:hover {
        text-decoration: underline;
    }
}

@include responsive($mobile) {
    .btn-primary {
        // line-height: 0.8rem;
        height: 45px;
        padding: 0 2rem;
        font-size: 1.5rem;
    }
}