.btn-primary,
.btn-secondary {
    font-family: "Montserrat", sans-serif;
    border-radius: 50px;

    padding: 0 3rem;
    font-size: 1.8rem;
    line-height: 5rem;
    font-weight: 500;
}

.btn-primary {
    background-color: $brand-main-light;
    font-weight: 500;
    color: $brand-black;
    transition: background-color 0.3s;
    color: $white;

    &:hover {
        background-color: $white;
        color: $brand-700;
    }
}

.btn-secondary {
    font-family: "Nunito", sans-serif;
    background-color: $brand-600;
    color: $white;
    transition: all 0.3s ease-in;

    border: 1px solid $brand-main-light;

    &:hover {
        background-color: $brand-main-light;
        color: $white;
    }
}

@include responsive($mobile) {
    .btn-primary {
        line-height: 0.8rem;
        height: 45px;
        padding: 0 2rem;
        font-size: 1.5rem;
    }
}