.bg-gray {
    background-color: #f5f7fa;
}

.d-none {
    display: none;
}

.text-light {
    color: $white;
}

.item-center {
    display: flex;
    align-items: center;
    justify-content: center;
}