header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    display: flex;
    z-index: 12;

    // border-bottom: 2px solid #ecf2fb;
    // background-color: $white;

    transition: all 0.3s ease;

    &.scrolled {
        background-color: $white;
        border-bottom: 2px solid #ecf2fb;
        // width: 90%;
        // left: 5%;
        // border-radius: 50px;
        // margin-top: 10px;
        // height: 55px;

        .container nav ul li a {
            color: $brand-main;

            &:hover {
                color: $brand-main-light;
            }
        }
    }

    .logo {
        font-size: 3rem;
        color: $brand-main;
    }

    .container {
        @include flex(row, center, space-between);
    }

    .btn-secondary {
        padding: 2rem 2rem;
        line-height: 0;
    }

    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            align-items: center;

            li {
                display: flex;

                img {
                    margin-left: 1.2rem;
                }

                &:not(:first-child) {
                    margin-left: 4.8rem;
                }

                a {
                    font-family: "Inter", sans-serif;
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 125%;
                    color: $white;

                    transition: color 0.3s;

                    &:hover {
                        color: $brand-main-light;
                    }
                }
            }
        }
    }

    @include responsive($laptop) {
        nav {
            ul {
                li {
                    &:not(:first-child) {
                        margin-left: 2.8rem;
                    }
                }
            }
        }
    }

    @include responsive(840px) {
        height: 7rem;
        display: flex;
        align-items: center;

        nav {
            ul {
                display: none;
            }
        }

        .dots {
            display: block;
        }

        .btn-secondary {
            display: none;
        }
    }
}

.menu-mobile {
    background: $white;
    border-radius: $border-radius * 2;
    width: 100%;
    height: 50vh;
    position: fixed;

    right: 0;
    bottom: 0;
    z-index: 12;
    display: none;

    &::before {
        content: "";
        width: 100%;
        height: 50vh;
        background-color: #000000b5;
        position: absolute;
        top: -100%;
    }

    &__icons {
        position: absolute;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        svg {
            width: 24px;
            margin: 8px;
        }
    }

    .icon-tabler-x {
        position: absolute;
        top: 16px;
        right: 16px;
    }

    ul {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-55%);

        li {
            text-align: center;
            font-size: 2rem;
            margin: 24px 0;
            font-weight: 700;

            a {
                color: $black;
            }
        }
    }
}

.show {
    display: block;
}

.dots {
    color: $white;
    background-color: $brand-main-light;
    padding: $gutter;
    border-radius: $border-radius * 10;
    margin-right: $gutter * 2;
    display: none;

    // position: fixed;
    .icons-dots {
        display: none;
    }
}