.s-hero {
    width: 100%;
    padding-top: 8rem;
    height: 95vh;
    @include flex(row, center, center);

    background: linear-gradient(90deg, rgba($brand-800, 1) 30%, rgba($brand-800, 0.8) 50%, rgba($brand-main, 0) 70%), url('../img/guilherme.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 65%;

    .d-flex {
        align-items: center;
    }

    .btn-primary {
        width: fit-content;

        svg {
            transition: transform 0.3s ease;
        }

        &:hover {
            svg {
                transform: translateX(8px);
            }
        }
    }

    &__text {
        margin-bottom: 3.9rem;
        width:55%;

        .lead {
            display: flex;
            align-items: center;
            color: $white;
            font-size: 1.8rem;
            font-weight: 500;

            b {
                margin-right: 6px;
            }
        }

        .title {
            font-size: 4.5rem;
            line-height: 120%;
            font-weight: 600;

            color: $white;
            max-width: 74rem;
            font-family: "Playfair Display", serif;
            font-optical-sizing: auto;
            font-style: normal;

            strong {
                font-family: "Playfair Display", serif;
                // font-style: italic;
                position: relative;
                z-index: 1;
                font-weight: 700;
                color: $brand-main;

                // &::after {
                //     content: "";
                //     width: 100%;
                //     height: 5px;
                //     background-color: $brand-main;
                //     position: absolute;
                //     bottom: 5px;
                //     left: 0;
                //     z-index: -1;
                // }
            }
        }


        .description {
            max-width: 50rem;
            margin-top: 3.4rem;
            margin-bottom: 1rem;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 150%;
            color: $gray-100;
        }

        ul {
            margin-bottom: 5rem;

            li {
                color: $white;
                font-size: 1.8rem;
                margin: 16px 8px;

                display: flex;
                align-items: center;
                text-align: left;

                span {
                    width: 90%;
                }

                svg {
                    margin-right: 8px;
                }

            }
        }
    }

    .infos {
        max-width: 50%;

        li {
            border-bottom: 1px solid #efefef;
            padding: 9px;
        }

        &__title {
            color: $gray-500;
            font-size: 2.5rem;
        }

        &__description {
            font-size: 1.5rem;
            color: $gray-400;
        }
    }

    @include responsive($laptop) {
        &__text {
            .title {
                font-size: 3rem;
                line-height: 110%;
            }
        }

        .infos {
            max-width: 70%;
            margin-left: 15%;
        }
    }

    @include responsive($tablet) {
        padding-top: 12rem;
        height: auto;
        background: linear-gradient(90deg, rgba($brand-800, 1) 30%, rgba($brand-800, 0.8) 50%, rgba($brand-main, 0) 100%), url('../img/guilherme.webp');
        background-size: cover;
        background-position: 75% 20%;

        .d-flex {
            flex-direction: column;
        }

        &__text {
            text-align: center;
            width: 100%;

            .btn-primary {
                margin: 0 auto;
                display: flex;
                justify-content: center;
                flex-direction: row;
            }

            .title {
                font-size: 3rem;
            }

            .description {
                max-width: 100%;
                margin: 3rem auto;
            }

            .lead {
                align-items: center;
                justify-content: center;
                font-size: 1.6rem;

                span {
                    display: none;
                }
            }

            .infos {
                flex-direction: row;
            }
        }

        .infos {
            max-width: 100%;
            margin-left: 0;
            flex-direction: row;
        }
    }

    @include responsive($mobile) {

        ul {
            li {
                font-size: 1.6rem;
            }
        }

        .btn-primary {
            width: 85%;
            font-size: 1.8rem;
            height: 50px;
            font-weight: 600;
        }
    }
}