.s-hero {
    width: 100%;
    padding-top: 8rem;
    height: 90vh;
    @include flex(row, center, center);

    &__gui {
        display: none;
    }

    @keyframes floating {
        0% {
            transform: translate(-50%, 0px);
        }

        50% {
            transform: translate(-50%, -15px);
        }

        100% {
            transform: translate(-50%, 0px);
        }
    }

    .tablet {
        position: absolute;
        left: 60%;
        bottom: 10%;
        width: 230px;
        z-index: 1;
        transform: translateX(-50%);
        animation: floating 3s ease-in-out infinite;
    }

    background: linear-gradient(90deg, rgba($brand-800, 1) 30%, rgba($brand-800, 0.8) 50%, rgba($brand-main, 0) 70%),
    url('../img/guilherme.webp');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 65%;

    // &.online {
    //     background: linear-gradient(90deg, rgba($brand-800, 1) 30%, rgba($brand-800, 0.8) 50%, rgba($brand-main, 0) 70%), url('../img/guilherme-online.webp');
    //     background-repeat: no-repeat;
    //     background-size: 100%;
    //     background-position: center 65%;
    // }

    &.online {
        .s-hero__text {
            width: 65%;
        }
    }

    .d-flex {
        align-items: center;
    }

    .btn-primary {
        width: fit-content;
        background-color: $white;
        color: $brand-800;

        svg {
            transition: transform 0.3s ease;
        }

        &:hover {
            svg {
                transform: translateX(8px);
            }
        }
    }

    &__text {
        margin-bottom: 3.9rem;
        width: 55%;
        z-index: 2;

        .lead {
            display: flex;
            align-items: center;
            color: $white;
            font-size: 1.8rem;
            font-weight: 500;

            b {
                margin-right: 6px;
            }
        }

        .title {
            font-size: 4.5rem;
            line-height: 120%;
            font-weight: 600;

            color: $white;
            max-width: 74rem;
            font-family: "Playfair Display", serif;
            font-optical-sizing: auto;
            font-style: normal;

            strong {
                font-family: "Playfair Display", serif;
                // font-style: italic;
                position: relative;
                z-index: 1;
                font-weight: 700;
                color: $brand-main;

            }
        }


        .description {
            max-width: 50rem;
            margin-top: 3.4rem;
            margin-bottom: 1rem;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 150%;
            color: $gray-100;
        }

        ul {
            margin-bottom: 5rem;

            li {
                color: $white;
                font-size: 1.8rem;
                margin: 16px 8px;

                display: flex;
                align-items: center;
                text-align: left;

                span {
                    width: 90%;
                }

                svg {
                    margin-right: 8px;
                }

            }
        }
    }



    @include responsive($laptop) {
        background-size: 150%;

        .tablet {
            position: absolute;
            left: 60%;
            bottom: 24%;
            width: 180px;
        }

        &.online {

            background-size: 150%;

        }

        &__text {
            .title {
                font-size: 3rem;
                line-height: 110%;
                margin: 0 auto;
            }
        }

        .infos {
            max-width: 70%;
            margin-left: 15%;
        }
    }

    @include responsive($tablet) {
        padding-top: 10rem;
        height: auto;
        background: linear-gradient(90deg, rgba($brand-800, 1) 30%, rgba($brand-800, 0.8) 50%, rgba($brand-main, 0) 100%), url('../img/guilherme.webp');
        background-size: cover;
        background-position: 75% 20%;


        // &.online {
        //     background: linear-gradient(90deg, rgba($brand-800, 1) 30%, rgba($brand-800, 0.8) 50%, rgba($brand-main, 0) 95%), url('../img/guilherme-online.webp');
        //     background-repeat: no-repeat;
        //     background-size: cover;
        //     background-position: 75% 20%;
        // }


        .d-flex {
            flex-direction: column;
        }

        &__text {
            text-align: center;
            width: 100%;

            .btn-primary {
                margin: 0 auto;
                display: flex;
                justify-content: center;
                flex-direction: row;
            }

            .title {
                font-size: 3rem;
                position: relative;
                z-index: 2;
            }

            .description {
                max-width: 100%;
                margin: 3rem auto;
            }

            .lead {
                align-items: center;
                justify-content: center;
                font-size: 1.6rem;

                span {
                    display: none;
                }
            }

            .infos {
                flex-direction: row;
            }
        }

        .infos {
            max-width: 100%;
            margin-left: 0;
            flex-direction: row;
        }
    }

    @include responsive($mobile) {
        background: $brand-800;

        .tablet {
            position: absolute;
            left: 20%;
            bottom: 30%;
            width: 120px;
            z-index: 2;
            transform: translateX(-50%);
            animation: floating 3s ease-in-out infinite;
        }


        &__gui {
            display: block;
            position: relative;
            margin: -3rem -15px 0 -15px;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 50;
                background: linear-gradient(to bottom, $brand-800 0%, transparent 100%);
                z-index: 1;
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 6px;
                left: 0;
                width: 100%;
                height: 140px;
                background: linear-gradient(to top, $brand-800 0%, transparent 100%);
                z-index: 1;
            }

            img {
                display: block;
                width: 100%;
            }
        }

        .description {
            position: relative;
            margin-top: -50px;
            z-index: 2;
        }

        &.online {
            background-position: 63% 20%;
            background: $brand-800;
        }

        ul {
            li {
                font-size: 1.6rem;
            }
        }

        .btn-primary {
            width: 85%;
            font-size: 1.8rem;
            height: 50px;
            font-weight: 600;
        }
    }
}