.s-professional {
    @include paddingSection(90px);

    .d-flex {
        margin-top: 50px;
        justify-content: space-around;
        align-items: center;
    }

    &__description {
        width: 50%;

        .btn-flex {
            display: flex;
            gap: 3rem;
        }
    }

    &__img {
        width: 40%;

        img {
            border-radius: $gutter*4;
        }
    }

    &__text {
        margin-top: 20px;
        font-weight: 600;
    }

    &__list {
        margin-top: 3rem;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 25px;
            font-size: 1.8rem;
            color: $brand-gray;
            line-height: 140%;

            img {
                margin-right: 1.5rem;
            }
        }
    }

    hr {
        border: solid #f5f7fa 1px;
    }

    @include responsive($tablet) {
        .d-flex {
            flex-direction: column;
        }

        &__description {
            width: 100%;
        }

        &__img {
            width: 100%;

            img {
                height: 300px;
                width: 100%;
                object-fit: cover;
                object-position: top center;

                margin-bottom: 40px;
            }
        }

    }

    @include responsive($mobile) {

        &__img {
            width: 100%;

            img {
                height: 350px;
                width: 100%;
                object-fit: cover;
                object-position: top center;

                margin-bottom: 40px;
            }
        }


        h4 {
            text-align: center;
        }

        .btn-flex {
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            background-color: #f5f7fa;
            padding: 2rem;
            border-radius: 10px;

            .btn-link {
                white-space: nowrap;
            }
        }


    }
}