.s-professional {
    @include paddingSection(90px);


    .d-flex {
        margin-top: 50px;
        justify-content: space-around;
        align-items: center;
    }

    ul {
        li {
            font-size: 1.6rem;
        }
    }

    &__description {
        width: 50%;

        .btn-flex {
            display: flex;
            gap: 3rem;
        }
    }

    h4 {
        font-family: lato;
    }

    &__img {
        width: 40%;

        img {
            border-radius: $gutter*4;
        }
    }

    &__text {
        margin-top: 20px;
        font-weight: 600;
    }

    &__list {
        margin-top: 3rem;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 25px;
            font-size: 1.8rem;
            color: $brand-gray;
            line-height: 140%;

            img {
                margin-right: 1.5rem;
            }
        }
    }

    hr {
        border: solid #f5f7fa 1px;
    }

    @include responsive($tablet) {
        .d-flex {
            flex-direction: column;
        }

        &__description {
            width: 100%;
        }

        &__img {
            width: 100%;

            img {
                height: 300px;
                width: 100%;
                object-fit: cover;
                object-position: top center;

                margin-bottom: 40px;
            }
        }

        ul {
            li {
                font-size: 1.6rem;
            }
        }

    }

    @include responsive($mobile) {

        &__img {
            width: 100%;

            img {
                height: 350px;
                width: 100%;
                object-fit: cover;
                object-position: top center;

                margin-bottom: 40px;
            }
        }


        h4 {
            text-align: center;
        }

        .btn-flex {
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            background-color: #f5f7fa;
            padding: 2rem;
            border-radius: 10px;

            .btn-link {
                white-space: nowrap;
            }
        }


    }
}

.s-opinions {
    padding: 90px 0;
}

.s-differences {
    padding: 90px 0;
    position: relative;
    overflow: hidden;
    background: #569FC4;
    background: radial-gradient(circle, rgba(86, 159, 196, 1) 0%, rgba(47, 111, 138, 1) 64%);

    canvas#grid-canvas {
        position: absolute;
        top: 130px;
        left: 0;
        width: 100%;

        z-index: 1;
        pointer-events: none;
    }

    .container {
        position: relative;
        z-index: 2;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            color: #a8d8ee;
            font-size: 1.4rem;
            font-weight: 500;
            padding: 2px 15px;
            border-radius: 25px;
            text-transform: uppercase;
        }
    }

    .title-section {
        text-align: left;
        margin-bottom: 20px;
    }

    hr {
        margin-bottom: 50px;
        border: solid #f5f7fa17 .5px;
    }

    .btn-primary {
        color: $white;
        padding: 0 5rem;
        transition: all .3s ease;
        text-align: center;
        display: block;
        width: fit-content;
        margin: 0 auto;
        margin-top: 4rem;


        &:hover {
            background-color: $white;
            color: $brand-800;
        }
    }

    .d-flex {
        // flex-wrap: wrap;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        margin-bottom: $gutter*10;


        .card {
            width: calc(25% - 1rem);
            height: 250px;
            padding: $gutter*2;
            background-color: #161E36;
            background: radial-gradient(circle at 80% 5%, #212c4e 0, #151D33 50%);

            border: 1px solid #a8d8ee87;
            border-radius: $gutter*2;

            display: flex;
            flex-direction: column;
            justify-content: end;
            transition: all 0.3s ease;

            background: rgb(32 87 110);

            &:hover {
                border-color: #a8d8ee;
                box-shadow: 0 0 15px rgba(168, 216, 238, 0.2);
                transform: translateY(-5px);
            }

            svg {
                margin-top: 3rem;
                display: flex;
                margin: 0 auto;
            }

            h3 {
                color: $white;
                text-align: center;
            }

            p {
                margin-top: 1rem;
                color: $white;
                opacity: 0.7;
                text-align: center;
                font-size: 1.6rem;
            }
        }
    }

    iframe {
        display: flex;
        margin: 0 auto;
    }

    img {
        display: flex;
        margin: 0 auto;
        border-radius: 20px;
    }

    .video-container {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .play-button {
            width: 80px;
            height: 80px;
            background-color: #a8d8ee;
            border-radius: 50%;
            position: absolute;
            z-index: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.3s ease;
            box-shadow: 0 0 20px rgba(168, 216, 238, 0.4);

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 2px solid #a8d8ee;
                animation: pulse 2s infinite ease-out;
            }

            span {
                width: 0;
                height: 0;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-left: 25px solid $brand-800; // Using dark brand color for contrast
                margin-left: 8px; // Offset for better centering visual
            }

            &:hover {
                transform: scale(1.1);
                background-color: lighten(#a8d8ee, 10%);
            }
        }
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        100% {
            transform: scale(1.5);
            opacity: 0;
        }
    }

    @include responsive($tablet) {
        &__header {
            align-items: center;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        hr {
            margin-bottom: 40px;
            margin-top: 20px;
        }

        .d-flex {
            flex-direction: column;

            .card {
                width: 100%;
            }
        }

        iframe {
            width: 100%;
            height: 260px;
        }

        img {
            width: 100%;
        }

        .btn-primary {
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}