.s-about {
    @include paddingSection(90px);

    &__description {
        margin-top: 20px;

        width: 80%;
        margin: 0 auto;
        margin-top: 40px;

    }

    &__img {
        img {
            width: 80%;
            border-radius: 20px;
            max-height: 400px;

            margin: 0 auto;

            margin-top: 50px;
            object-fit: cover;
        }

        .online {
            max-height: 600px;
        }

    }

    @include responsive($tablet) {
        &__description {
            width: 100%;

        }

        &__img {
            img {
                width: 100%;


            }
        }
    }


}