.s-about {
    @include paddingSection(90px);

    .d-flex {
        justify-content: space-around;
        align-items: center;
    }

    &__description {
        margin-top: 20px;

        width: 40%;
        margin: 0 auto;
        margin-top: 40px;

    }

    &__img {
        width: 50%;

        img {
            border-radius: 20px;
            max-height: 400px;

            margin: 0 auto;

            margin-top: 50px;
            object-fit: cover;
        }

        .online {
            max-height: 600px;
        }

    }

    @include responsive($tablet) {
        .d-flex {
            flex-direction: column;
        }

        &__description {
            width: 100%;

        }

        &__img {
            width: 100%;

            img {
                margin-top: 0;
            }
        }
    }


}