.s-contact {
    padding: 90px 0 0 0;

    .title-section {
        margin-bottom: 30px;
    }

    &__description {
        width: 40%;
        margin: 0 auto;
    }

    .maps {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-top: $gutter * 10;
        margin-bottom: $gutter * 10;

        .text {
            width: 50%;

            .title {
                margin-top: $gutter * 2;
                font-weight: 600;
                color: $brand-600;
            }

            .maps-google {
                margin-top: $gutter * 4;
            }

            ul {
                display: flex;
                margin-top: 30px;
                border-bottom: 2px solid rgba(197, 223, 255, 0.4509803922);
                padding-bottom: 40px;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: $gutter;

                    img {
                        padding: 5px;
                        background-color: #dbe9fb;
                        border-radius: 5px;
                        margin-right: 8px;
                    }

                    p {
                        line-height: 100%;
                        font-size: 1.5rem;
                    }
                }
            }
        }

        .image {
            width: 45%;

            .s-contact__swiper {
                width: 100%;
                overflow: hidden;
                position: relative;
                padding-bottom: 3rem;

                .swiper-slide {
                    img {
                        width: 100%;
                        height: 400px;
                        object-fit: cover;
                        border-radius: $gutter;
                    }

                    .legend {
                        text-align: center;
                        margin-top: 1rem;
                        font-weight: 500;
                        color: $gray-600;
                        font-family: 'Lato', sans-serif;
                    }
                }

                .swiper-pagination {
                    bottom: 0px;

                    &-bullet {
                        background-color: #bdc3c7;
                        opacity: 1;
                        width: 1rem;
                        height: 1rem;
                        transition: all 0.3s ease;

                        &-active {
                            background-color: $brand-main;
                            width: 3rem;
                            border-radius: 1rem;
                        }
                    }
                }

                .swiper-button-next-contact,
                .swiper-button-prev-contact {
                    color: $white;
                    width: 3rem;
                    height: 3rem;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 99;
                    cursor: pointer;
                    background-color: #00000070;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 1;

                    &::after {
                        font-size: 1.5rem;
                        font-weight: bold;
                    }

                    &:hover {
                        opacity: 0.9;
                    }

                    &.swiper-button-disabled {
                        opacity: 0.5;
                        cursor: no-drop;
                        pointer-events: none;
                    }
                }

                .swiper-button-next-contact {
                    right: 10px;
                }

                .swiper-button-prev-contact {
                    left: 10px;
                }
            }
        }
    }

    .d-flex {
        margin: 0 auto;
        flex-wrap: wrap;
        margin-top: 80px;
        justify-content: space-between;
        align-items: center;

        .item {
            width: 31%;
            border-radius: $border-radius;

            p {
                color: $gray-500;
            }

            &:last-child {
                p {
                    max-width: 80%;
                }
            }
        }
    }

    .card {
        background-color: $white;
        border-radius: 2px;
        padding: $gutter * 3;
        position: relative;

        transition: all 0.2s ease-in;

        h3 {
            margin-top: 12px;
        }

        p {
            font-size: 1.6rem;
            margin-top: 12px;
        }

    }

    .btn-contact {
        background-color: $brand-main;
        padding: 9px 10px;
        display: inline-block;
        align-items: center;
        justify-content: center;

        border-radius: 50px;
        margin-top: $gutter * 3;

        position: absolute;
        right: 14px;
        bottom: 14px;

        margin-top: $gutter * 2;

        svg {
            transition: transform 0.3s ease;
        }

        &:hover {
            svg {
                transform: translatex(3px);
            }
        }
    }

    &__footer {
        padding-top: 45px;
        padding-bottom: 90px;
    }

    &__online {
        width: 70%;
        margin: 0 auto;
        padding: 40px;
        border-radius: $border-radius*5;
        background-color: $brand-900;
        margin-bottom: 90px;

        background: radial-gradient(circle at 50% 5%, $brand-800 0, $brand-900 80%);
        background:
            radial-gradient(circle at 50% 5%,
                rgba($brand-800, 0.85) 0%,
                rgba($brand-900, 0.95) 80%),
            url("../img/woman-remote-working-from-home.webp");

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;

        p,
        h4 {
            color: $white;
        }

        h4 {
            text-align: center;
            margin-top: 40px;
        }

        .btn-primary {
            margin: 0 auto;
            margin-top: $gutter * 4;
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 3rem ;
        }
    }

    @include responsive($tablet) {
        &__description {
            width: 80%;
        }

        .maps {
            flex-direction: column;

            .text,
            .image {
                width: 100%;
            }

            .image {
                margin-top: $gutter * 3;
            }

            .text {
                ul {
                    flex-direction: column;

                    li {
                        justify-content: flex-start;
                        margin-right: $gutter;
                        margin-top: $gutter * 2;

                        img {
                            padding: 8px;
                            background-color: #dbe9fb;
                            border-radius: 5px;
                            margin-right: 8px;
                            width: 40px;
                            height: 40px;
                        }

                        p {
                            line-height: 100%;
                            font-size: 1.6rem;
                            margin: $gutter * 2;
                        }
                    }
                }
            }
        }

        .d-flex {
            flex-direction: column;

            .item {
                width: 100%;
                margin-bottom: $gutter * 2;
            }
        }

        &__online {
            width: 100%;
            padding: $gutter * 2;
            border-radius: 0;

            .btn-primary {
                margin: 0 auto;
                margin-top: $gutter * 3;
                margin-bottom: $gutter * 4;
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}