.s-service {
    @include paddingSection(90px);

    .d-flex {
        display: flex;
        justify-content: space-between;

    }

    &__description {
        width: 38%;
    }

    &__swiper {
        width: 60%;
        overflow: hidden;

        h3 {
            color: $white;

            &::first-letter {
                font-size: 4rem;
            }
        }

        .swiper-slide {
            background-color: #f7fcff;
            background: linear-gradient(180deg, rgba(22, 60, 71, 0) 0%, rgba(22, 60, 71, 0.95) 100%), url('../img/family-.webp');
            background-size: cover;
            padding: 3rem;
            border-radius: 12px;
            height: auto;
            border: 1px solid #e1e1e1;
            height: 351px;

            &:nth-child(2) {
                background: linear-gradient(180deg, rgba(22, 60, 71, 0) 0%, rgba(22, 60, 71, 0.95) 100%), url('../img/family2.webp');
                background-size: cover;
            }

            &:nth-child(3) {
                background: linear-gradient(180deg, rgba(22, 60, 71, 0) 0%, rgba(22, 60, 71, 0.95) 100%), url('../img/family3.webp');
                background-size: cover;
            }

            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            h2 {
                color: $white;
                font-family: "playfair display";
                margin-bottom: 2rem;
            }

            p {
                color: $gray-100;
                font-size: 1.6rem;
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: $white;
        width: 3rem;
        height: 3rem;

        &::after {
            font-size: 1.5rem;
            font-weight: bold;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    .swiper-button-next {
        right: 0;
    }

    .swiper-button-prev {
        left: 0;
    }
}