h1 {
    font-weight: 600;
}

h2 {
    font-weight: bold;
    font-size: 4rem;
}

h3 {
    font-size: 2.4rem;
    line-height: 150%;
}

h4 {
    font-size: 2rem;
    line-height: 112%;
}

h1,
h2 {
    line-height: 112%;
    letter-spacing: -1px;
}

h3,
h4 {
    font-weight: 500;
    letter-spacing: -1px;
}

h1,
h2,
h3,
h4 {
    font-family: "Zilla Slab", serif;
    font-weight: 500;
    font-style: normal;
    color: $gray-500;
}

p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;
    color: $gray-600;
    font-family: "Nunito", sans-serif;
}

.subtitle {
    color: $brand-main;
    display: table;

    font-size: 1.4rem;
    font-weight: 500;
    padding: 2px 15px;
    border-radius: 25px;

    margin: 0 auto;
    text-transform: uppercase;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.zilla-slab-light {
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-style: normal;
}

.zilla-slab-regular {
    font-family: "Zilla Slab", serif;
    font-weight: 400;
    font-style: normal;
}

.zilla-slab-medium {
    font-family: "Zilla Slab", serif;
    font-weight: 500;
    font-style: normal;
}

.zilla-slab-semibold {
    font-family: "Zilla Slab", serif;
    font-weight: 600;
    font-style: normal;
}

.zilla-slab-bold {
    font-family: "Zilla Slab", serif;
    font-weight: 700;
    font-style: normal;
}

.zilla-slab-light-italic {
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-style: italic;
}

.zilla-slab-regular-italic {
    font-family: "Zilla Slab", serif;
    font-weight: 400;
    font-style: italic;
}

.zilla-slab-medium-italic {
    font-family: "Zilla Slab", serif;
    font-weight: 500;
    font-style: italic;
}

.zilla-slab-semibold-italic {
    font-family: "Zilla Slab", serif;
    font-weight: 600;
    font-style: italic;
}

.zilla-slab-bold-italic {
    font-family: "Zilla Slab", serif;
    font-weight: 700;
    font-style: italic;
}


.title-section {
    font-weight: 600;
    font-size: 3.5rem;

    text-align: center;
    margin-top: 8px;
}