//Cores
$white: #fff;
$brand-gray: #616161;
$brand-blue-light: #00a5f0;
$brand-main: #a8d8ee;
$brand-50: #f4fbfe; // quase branco (background)
$brand-100: #e6f4fb; // muito claro
$brand-200: #d4ecf7; // claro
$brand-300: #c2e3f2; // médio-claro
$brand-400: #b1dbef; // próximo do original
$brand-500: #a8d8ee; // cor base
$brand-600: #7fbfdc; // médio
$brand-700: #569fc4; // médio-escuro
$brand-800: #2f6f8a; // escuro
$brand-900: #1b4252; // bem escuro (texto/contraste)
$brand-main-light: #7fbfdc;
$brand-main-dark: #17544e;
$brand-black: #2b2b2b;
$black: #242424;

$green: #25cb9e;

//escalas de cinza
$gray-600: #817e89;
$gray-500: #6e6a7b;
$gray-400: #616161;
$gray-300: #7a7786;
$gray-200: #c6c5ce;
$gray-100: #f1f0f5;

//Default
$gutter: 8px;
$border-radius: 4px;

//responsive
$mobile: "600px";
$tablet: "1024px";
$laptop: "1280px";
$desktop: "1440px";